:root {
  --prussian-blue: #003049;
  --maximum-red: #d62828;
  --orange: #f77f00;
  --maximum-yellow-red: #fcbf49;
  --lemon-meringue: #eae2b7;
}

body {
  background-color: var(--lemon-meringue);
}

header {
  background-color: var(--orange);
  /* position: sticky;
  top: 0; */
}

/* Style the navbar */
nav {
  /* overflow: hidden; */
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.navLinks {
display: flex;
justify-content: center;
align-items: center;   
}

/* class="block mt-4 lg:inline-block hover:text-gray-700 lg:mt-0 mr-10" */

/* Navbar links */
.navLinks a {
    font-family: "Permanent Marker", cursive;
    /* border: 20px solid var(--prussian-blue); */
  font-weight: bold;
  font-size: large;
  color:black;
  float: right;
  margin: 1rem;
  text-align: center;
  text-decoration: none;
  align-items: center;
}

.smallLogo {
  width: 5rem;
  height: 5rem;
  border: 2px solid black;
}

header h1 {
  size: 100rem;
  align-self: left;
  padding-left: 1rem;
  width: 50%;
}

#heroImg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/IGNica.PNG");    
      /* Set a specific height */
  height: 30rem;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.dividerHeading {
  background-color: var(--maximum-yellow-red);
  text-align: center;
  padding: 5px;
  margin-top: 1px;
}

h1 {
  font-family: "Permanent Marker", cursive;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

#about {
  background-color: var(--prussian-blue);
  color: white;
}

#yourFix {
  /* background-color: var(--orange); */
  padding: 20px;
}

#foodDrink {
  /* background-color: var(--maximum-yellow-red); */
}

#instagram {
  /* background-color: var(--lemon-meringue); */
}

#contact {
  background-color: white;
  text-align: center;
}

.fixSectionContainer {
  display: flex;
}

.fixSection {
  border: 5px solid black;
  width: 50%;
  height: 300px;
  margin: 5px;
}

.twoColumns {
  justify-content: center;
  width: 500px;
  display: flex;
  justify-content: center;
}

#welcomeImage {
  border: 15px solid var(--maximum-yellow-red);
}
